/* RESETER VALORES DEL NAVEGADOR */
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 62.5%;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* HEADER */
/* NAVBAR */
.header {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header nav {
  margin: 0;
  padding: 0;
  background-color: #f66666;
  width: 100%;
}
.header nav .divContainerNavBar {
  padding: 0;
}

.navBar ul {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  text-align: center;
}
.navBar ul li {
  list-style: none;
  flex-grow: 1;
  font-size: 2rem;
  padding: 1rem;
  border: solid 0.1rem #000;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem #000;
  overflow: hidden;
  background-image: url("../img/fondo2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  text-align: center;
}
.footer p {
  font-size: 4rem;
  font-weight: 800;
  background-color: #f66666;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f66666;
  margin: 0;
  padding: 0;
  margin-top: 7rem;
  width: 100%;
}
.footer ul li {
  list-style: none;
}
.footer ul li a .redes {
  padding: 0.5rem;
  width: 6rem;
  height: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* TITULO */
.tituloContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.tituloContainer div .logo {
  margin-top: 2rem;
  width: 8rem;
  height: 8rem;
}
.tituloContainer .titulo {
  border-bottom: solid 0.2rem #000;
  font-size: 5rem;
  font-weight: 800;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* BTN SUBIR */
.subirContainer {
  position: sticky;
  bottom: 6rem;
  left: 100%;
  display: inline-block;
}
.subirContainer a .redes {
  padding: 0.5rem;
  width: 4rem;
  height: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/*INDEX */
.menuContainer {
  background-color: rgb(94, 96, 96);
  margin: 2rem;
  padding: 2rem;
  border: dashed 0.4rem #000;
  border-radius: 5%;
}
.menuContainer .tituloRecomendado {
  text-align: center;
  font-size: 4rem;
  color: #f8f870;
}
.menuContainer .recomendadoMenu {
  background-color: #767575;
  margin: 1rem;
  padding: 2rem;
  font-size: 3rem;
}
.menuContainer .recomendadoMenu article h3 {
  text-align: left;
  font-size: 4rem;
}

.recContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.recContainer .rec {
  text-align: center;
  margin-top: 2rem;
}
.recContainer .rec div .imgRec {
  width: 40rem;
  height: 20rem;
}
.recContainer .rec div p {
  font-size: 3rem;
  font-weight: 800;
}

/* UBICACION */
#ubicacionContainer {
  margin-top: 15rem;
}

.imgClubContainer {
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem;
  font-weight: 800;
}
.imgClubContainer .imgClub {
  border: solid 0.2rem #000;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}

.maps {
  overflow: hidden;
}
.maps iframe {
  width: 100%;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* MENU PAGE */
.menu {
  margin-top: 2rem;
}
.menu section {
  background-color: #767575;
  margin: 2rem;
  padding: 1rem;
}
.menu section h3 {
  font-size: 3rem;
  font-weight: 800;
  padding-left: 1rem;
}
.menu section img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.menu section li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 2.5rem;
  font-weight: 800;
}

.especialidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.especialidad li img {
  width: 30rem;
  height: 30rem;
}

.listaMenu {
  display: grid;
  grid-template-areas: "uno dos tres" "cuatro cinco seis" ". ocho .";
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2rem;
}

/* comidas posiciones */
#pMuz,
#eJQ,
#cMP,
#bC {
  grid-area: uno;
}

#pRoque,
#eRoque,
#cLP,
#bV {
  grid-area: dos;
}

#pPal,
#eCF,
#cChin,
#bW {
  grid-area: tres;
}

#pPQ,
#eAr,
#cVac,
#bGin {
  grid-area: cuatro;
}

#pMo,
#ePo,
#cTA,
#bM {
  grid-area: cinco;
}

#pRuc,
#eQC,
#cTF,
#bTS {
  grid-area: seis;
}

#pCal,
#eCho,
#cSM,
#bD {
  grid-area: ocho;
}

/* bebidas sin alchool*/
.bebidasSinAl {
  margin-bottom: 2rem;
}

.listaMenuBebida {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.inputsProps, .sectionForm .form .form__divBtn input, .sectionForm .form .form__div label,
.sectionForm .form .form__div input,
.sectionForm .form .form__div textarea,
.sectionForm .form .form__div select {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* RESERVA PAGE */
.sectionForm {
  display: flex;
  justify-content: space-between;
  background-color: #767575;
  padding: 2rem;
}
.sectionForm .publicidad ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sectionForm .publicidad ul li {
  list-style: none;
}
.sectionForm .publicidad ul li img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.sectionForm .form {
  background-color: #f66666;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.2rem #000;
  width: fit-content;
  /* botones */
}
.sectionForm .form .form__div {
  width: 55rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* datos, dia y select */
}
.sectionForm .form .form__div input,
.sectionForm .form .form__div select,
.sectionForm .form .form__div textarea {
  margin: 2rem 0;
  border-bottom: solid 0.2rem #fff;
}
.sectionForm .form .form__div input:focus,
.sectionForm .form .form__div select:focus,
.sectionForm .form .form__div textarea:focus {
  background-color: #f8f870;
  color: #000;
  outline: none;
}
.sectionForm .form .form__div textarea {
  border: solid 0.2rem #b8b4b4;
  padding: 0.2rem;
  text-align: center;
}
.sectionForm .form .form__div input::placeholder,
.sectionForm .form .form__div textarea::placeholder {
  color: #fff;
  opacity: 0.8;
}
.sectionForm .form .form__divBtn {
  display: flex;
  width: 100%;
  /* .form__divBtn--reset,
  .form__divBtn--submit, */
}
.sectionForm .form .form__divBtn input {
  flex-grow: 1;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem 0.5rem;
  border-bottom: #fff 0.2rem solid;
  border-radius: 50px;
  width: 100%;
}
.sectionForm .form .form__divBtn .form__divBtn--reset:hover {
  background-color: rgb(248, 5, 5);
  color: #fff;
  cursor: pointer;
}
.sectionForm .form .form__divBtn .form__divBtn--reset:focus {
  background-color: rgb(248, 5, 5);
  color: #fff;
}
.sectionForm .form .form__divBtn .form__divBtn--submit:hover {
  background-color: rgb(43, 177, 43);
  color: #fff;
  cursor: pointer;
}
.sectionForm .form .form__divBtn .form__divBtn--submit:focus {
  background-color: rgb(43, 177, 43);
  color: #fff;
}

/* extra */
.inputsProps, .form label,
.form input,
.form textarea,
.form select {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* DELIVIRY PAGE*/
.form input,
.form select,
.form textarea {
  margin: 2rem 0;
  border-bottom: solid 0.2rem #fff;
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  background-color: #f8f870;
  color: #000;
  outline: none;
}
.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: #fff;
  opacity: 0.8;
}
.form .form__divComida {
  display: grid;
  grid-template-areas: "comida inputCom cantidad inputCant";
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

#form_divComida__labelPizza,
#form_divComida__labelEmpanada,
#form_divComida__labelCarne,
#form_divComida__labelBebida {
  grid-area: comida;
  display: flex;
  justify-content: end;
  align-items: center;
}

#pizzaSeleccionada,
#empanadaSeleccionada,
#carneSeleccionada,
#bebidaSeleccionada {
  grid-area: inputCom;
  width: 15rem;
}

#cPLabel,
#cELabel,
#cCLabel,
#cBLabel {
  grid-area: cantidad;
  display: flex;
  justify-content: end;
  align-items: center;
}

#cP,
#cE,
#cC,
#cB {
  grid-area: inputCant;
  width: 6rem;
}

.fotosComida {
  flex-grow: 1;
}
.fotosComida ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 250px);
  text-align: center;
}
.fotosComida ul li {
  list-style: none;
}
.fotosComida ul li img {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* ENTRETENIMIENTO */
.sectionContainer {
  background-color: #f66666;
  padding: 1rem;
  margin-bottom: 1rem;
}
.sectionContainer h2 {
  font-size: 3rem;
}

.carousel-item img {
  width: 100%;
  height: 35rem;
  max-height: 40rem;
}

.spanBg {
  background-color: #000;
}

.fondo {
  background-color: #e4e2e2;
}
.fondo div h3 {
  font-size: 2.2rem;
  font-weight: 800;
  background-color: #fff;
  display: inline-block;
}
.fondo div .entList ul li {
  font-size: 1.9rem;
  font-weight: 800;
  color: rgb(255, 0, 0);
  list-style: none;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* HISTORIA */
.diarioFondo {
  background-image: url("https://fondosmil.com/fondo/88721.jpg");
  padding: 2rem;
}

.hisText {
  display: flex;
  background-color: rgba(247, 163, 67, 0.4862745098);
  padding: 1rem;
  font-size: 3rem;
  font-weight: 800;
}
.hisText .primeraLetra {
  color: #f00;
}

.inputsProps {
  color: #fff;
  font-size: 2.5rem;
  background-color: #f66666;
  border: none;
}

/* 1200 768 480 320 */
@media screen and (max-width: 1199px) {
  /* navbar */
  .header {
    width: 100%;
    height: fit-content;
  }
  .header nav div button {
    margin: 1rem;
    padding: 1rem;
  }
  .header nav div div ul li {
    border: none;
    border-bottom: #000 solid 0.1rem;
    display: inline-block;
  }
  .header nav div div ul li:nth-child(1) {
    border-top: solid #000 0.1rem;
  }
  /* titulo en las pages */
  .tituloContainer .titulo {
    border: none;
  }
  /* index y menu page */
  .menuContainer {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .menu {
    padding: 0 1rem;
  }
  .menu .menuSection {
    margin: 0;
    padding: 0;
  }
  .menu .menuSection article .especialidad {
    padding: 0;
  }
  .menu .menuSection article .especialidad img {
    width: 25rem;
    height: 25rem;
  }
  .menu .menuSection article .listaMenu {
    gap: 0;
    padding: 0;
  }
  /* reserva y delivery*/
  .sectionForm {
    justify-content: center;
  }
  .sectionForm .publicidad,
  .sectionForm .fotosComida {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .carousel-item img {
    height: 40rem;
  }
}
@media screen and (max-width: 850px) {
  /* index */
  .tituloContainer .titulo {
    font-size: 4rem;
  }
  .menuContainer .recomendadoMenu {
    margin: 0 0 1rem 0;
    padding: 0;
  }
  .menuContainer .recomendadoMenu article h3 {
    text-align: left;
    font-size: 3rem;
    margin-left: 1rem;
  }
  .menuContainer .recomendadoMenu article .recContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menuContainer .recomendadoMenu article .recContainer .rec {
    width: 100%;
    height: fit-content;
  }
  .menuContainer .recomendadoMenu article .recContainer .rec div .imgRec {
    width: 60%;
    height: 60%;
  }
  /* subir btn*/
  .subirContainer {
    border: solid 0.1rem #fff;
    border-radius: 10%;
    margin-right: 1rem;
    background-color: #000;
  }
}
@media screen and (max-width: 768px) {
  /* index */
  .menuContainer {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0%;
  }
  .menuContainer .recomendadoMenu article .recContainer .rec div .imgRec {
    width: 70%;
    height: 60%;
  }
  /* menu page*/
  .menu {
    padding: 0;
  }
  .menu .menuSection article .listaMenu,
  .menu .menuSection article .listaMenuBebida {
    margin: 0;
    grid-template-areas: none;
    grid-template-columns: repeat(2, 1fr);
  }
  #pMuz,
  #pRoque,
  #pPal,
  #pPQ,
  #pMo,
  #pRuc,
  #pCal,
  #eJQ,
  #eRoque,
  #eCF,
  #eAr,
  #ePo,
  #eQC,
  #eCho,
  #cMP,
  #cLP,
  #cChin,
  #cVac,
  #cTA,
  #cTF,
  #cSM,
  #bC,
  #bV,
  #bW,
  #bGin,
  #bM,
  #bTS,
  #bD {
    grid-column: auto;
    grid-row: auto;
    text-align: center;
  }
  /* reserva  y delivery*/
  .sectionForm {
    background-color: #f66666;
    padding: 0;
  }
  .sectionForm .form {
    border: none;
    flex-grow: 1;
  }
  .sectionForm .form .form__div {
    width: 95%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sectionForm .form .form__div label,
  .sectionForm .form .form__div input,
  .sectionForm .form .form__div select {
    width: 100%;
  }
  .sectionForm .form .form__divComida {
    margin: 1rem;
  }
  .sectionForm .form #extra {
    width: 100%;
  }
}
@media screen and (max-width: 570px) {
  .form .form__divComida {
    grid-template-areas: "comida inputCom" "cantidad inputCant";
    gap: 0;
    grid-template-columns: 1fr 2fr;
  }
  #form_divComida__labelPizza,
  #form_divComida__labelEmpanada,
  #form_divComida__labelCarne,
  #form_divComida__labelBebida {
    grid-area: comida;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #cPLabel,
  #cELabel,
  #cCLabel,
  #cBLabel {
    grid-area: cantidad;
    justify-content: space-around;
    align-items: center;
  }
  #pizzaSeleccionada,
  #empanadaSeleccionada,
  #carneSeleccionada,
  #bebidaSeleccionada {
    grid-area: inputCom;
    width: 100%;
  }
  .columnReverse570px {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  /* titulo */
  .tituloContainer .titulo {
    font-size: 3.5rem;
  }
  .tituloContainer .logoDesaparece {
    display: none;
  }
  .menuContainer .tituloRecomendado {
    font-size: 3rem;
  }
  .menuContainer .recomendadoMenu article h3 {
    font-size: 2.5rem;
  }
  .menuContainer .recomendadoMenu article .recContainer .rec div .imgRec {
    width: 100%;
  }
  .menuContainer .recomendadoMenu article .recContainer .rec div p {
    font-size: 2.5rem;
  }
  .imgClubContainer p {
    font-size: 2.5rem;
  }
  .listaMenu,
  .listaMenuBebida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  /* footer */
  .footer p {
    width: 100%;
    font-size: 4rem;
  }
  /* historia */
  .diarioFondo {
    padding: 1rem 0 0 0;
  }
  .divCarousel div img {
    height: 30rem;
  }
}
@media screen and (max-width: 453px) {
  .form .form__divComida {
    margin: 0;
    grid-template-areas: "comida ." "inputCom inputCom" "cantidad inputCant";
    grid-template-columns: repeat(2, 1fr);
  }
  #pizzaSeleccionada,
  #empanadaSeleccionada,
  #carneSeleccionada,
  #bebidaSeleccionada {
    grid-area: inputCom;
  }
  #form_divComida__labelPizza,
  #form_divComida__labelEmpanada,
  #form_divComida__labelCarne,
  #form_divComida__labelBebida {
    grid-area: comida;
    justify-content: space-between;
  }
  #cPLabel,
  #cELabel,
  #cCLabel,
  #cBLabel {
    grid-area: cantidad;
    justify-content: space-between;
  }
  /* entrenimiento */
  .carousel-item img {
    height: 30rem;
  }
  /* footer img redes en columna*/
  .footer {
    height: fit-content;
  }
  .footer p {
    font-size: 3rem;
  }
  .footer ul {
    flex-direction: column;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  .footer ul li a .redes {
    flex-grow: 1;
    width: 6rem;
    height: 6rem;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .tituloContainer .titulo {
    font-size: 3rem;
  }
  /* index */
  .recomendadoMenu article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .imgClubContainer img {
    width: 25rem;
    height: 25rem;
  }
}

/*# sourceMappingURL=style.css.map */
