@import 'mixings';

/* FOOTER */
.footer {
    @include displayFlexYProps(column,center,center);
    @include border(solid, .2rem, #000);
    overflow: hidden;
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    text-align: center;

    p {
        @include fontSizeYWeight(4rem);
        background-color: $bgNavFormEntFooter;
    }

    ul {
        @include displayFlexYProps(row, center, center);
        background-color: $bgNavFormEntFooter;
        margin: 0;
        padding: 0;
        margin-top: 7rem;
        width: 100%;

        li {
            list-style: none;

            //link de las redes del recre
            a {

                //img de face,insta,tw
                .redes {
                    padding: .5rem;
                    @include widthYHeight(6rem, 6rem);
                    margin-left: 3rem;
                    margin-right: 3rem;
                }
            }
        }
    }
}