@import 'mixings';

/* BTN SUBIR */
.subirContainer {
    text-align: end;
    position: sticky;
    bottom: 6rem;
    left: 100%;
    margin-top: 2rem;
    display: inline-block;

    a{
        img{
            padding: .5rem;
            @include widthYHeight(4rem, 5rem);
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}