@import 'mixings';

/* BTN SUBIR */

.subirContainer {
    position: sticky;
    bottom: 6rem;
    left: 100%;
    display: inline-block;

    a {
        .redes {
            padding: .5rem;
            @include widthYHeight(4rem, 5rem);
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}